.transaction-course-table-container{
  .teacher-table-title-header{
    .transaction-title-header{
      font-family: Roboto, serif;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.transaction-table-column{
  color: black;
}


